.root {
  position: relative;
}

.input {
  width: 250px;
  height: 45px;
  padding: 20px 20px;
  border-radius: 15px;
  border: 1px solid grey;
  font-size: 16px;
  transition: all 0.2s ease-in-out;

  &:focus {
    width: 350px;
    border: 1px solid #fe5f1e;
    color: #fe5f1e;
    font-weight: bold;
    border-radius: 20px;
  }
}

.icon {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 8px;
  right: 10px;
  cursor: pointer;
  opacity: 0.5;
}
